<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Password</th> 
            <th>Roles</th>           
            <th>Akcije</th> 
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.id}}</td>
            <td>{{user.username}}</td>
            <td>{{user.password}}</td>
            <td>{{user.roles}}</td>
            <td>
                
                <a [routerLink]="['/izmena-usera',user.id]">Izmeni</a>
                <button (click)="ukloni(user.id)">Ukloni</button>                                 
            </td>
        </tr>
    </tbody>
</table>